
*{
    box-sizing:border-box;
}

html,body{
    padding:0px;
    margin:0px;
}

.menu{
    border: 1px solid;
    height: 40px;
    
    background: white;

}
.menu-options{
    border: 1px solid;
    height: 60px;
    background: white;


}
.formula-input{
    border: 1px solid;
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
}
.content
{
    height: calc(100vh - 170px);
    border: 1px solid;
    background: lightgray;
    overflow: auto;
    position: relative;
}
.top-left-row
{
    background: white;
    height: 24px;
    width: 30px;
}
.top-row{
    
    display: flex;
    position: absolute;
    top: 0px;
    left: 30px;
}
.top-row-cell
{
    
    height: 24px;
    min-width: 58px;
    border: solid 1px;
    text-align: center;
    background: white;
}
.left-col
{

}
.left-col-cell
{
    /* border: solid; */
    min-height: 24px;
    width: 30px;
    border: solid 1px;
    background: white;
}
.cells{
    position: absolute;
    top: 24px;
    left: 30px;
    
}
.row
{
    display: flex;

}
.cell{
    min-width: 58px;
    border: 1px solid;
    min-height: 24px;

}
.sheets{

    border: 1px solid;
    height: 30px;
    background: white;
}

    
